{% extends "base.html" %}
{% block title %}添加条目{% endblock %}
{% block script %}
    <link href="{{ url_for('static', filename='tablecloth/tablecloth.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ url_for('static', filename='tablecloth/tablecloth.js') }}"></script>
{% endblock %}
{% block body %}
<div id="content">
    <div class="post">
        <h1>添加条目</h1>
        <form method="post">
            <table>
                <thead>
                    <th>番号</th>
                    <th>中文名</th>
                    <th>日文名</th>
                    <th>上映日期</th>
                    <th>评分</th>
                    <th>类别</th>
                </thead>
                {% for i in range(0, n) %}
                <tr>
                    <td><input class="basic-input" name="number" /></td>
                    <td><input class="basic-input" name="cn_title" /></td>
                    <td><input class="basic-input" name="jp_title" /></td>
                    <td><input class="basic-input" name="date" /></td>
                    <td>
                    <select class="select-input" name="rate">
                        <option value=""></option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                    </td>
                    <td>
                    <select class="select-input" name="category">
                        <option value="TV" selected >TV</option>
                        <option value="MOVIE">MOVIE</option>
                    </select>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <input class="btn-submit" type="submit" value="保存" />
            <span>&emsp;&emsp;</span>
            <input class="btn-submit" type="button" value="返回" onclick="show()" />
        </form>
    </div>
</div>
{% endblock %}

