{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block body %}
<div id="content">
    <div class="post">
        <ul>
            <li><a href="{{ url_for('anime.show_tv') }}">名侦探柯南 TV 放映表</a>（未完成）</li>
            <li><a href="{{ url_for('anime.show_ova') }}">名侦探柯南 OVA 放映表</a>（已完成）</li>
            <li><a href="">名侦探柯南 OST 曲目表</a>（未完成）</li>
            <div style="padding: 1em;"><img src="{{ url_for('static', filename='image/conan.png') }}" /></div>
        </ul>
    </div>
</div>
{% endblock %}