<link href="{{ url_for('static', filename='tablecloth/tablecloth.css') }}" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="{{ url_for('static', filename='tablecloth/tablecloth.js') }}"></script>
<div id="container">
    <div id="content">
        <table>
            <tr>
                <th>番号</th>
                <th>中文名</th>
                <th>日文名</th>
                <th>评分</th>
                {% if False %}<th></th>{% endif %}
            </tr>
            {% for record in records %}
            <tr>
                <td>{{ record.number }}</td>
                <td>{{ record.cn_title }}</td>
                <td>{{ record.jp_title }}</td>
                <td style="{% if record.rate < 2 %}color: #712704{% elif record.rate < 3 %}color: #bd7803;{% elif record.rate < 4 %}color: #fe9d01;{% elif record.rate < 5 %}color: #ffbb1c;{% else %}color: #eed205;{% endif %}">{{ '★'*record.rate }}</td>
                {% if False %}
                <td><a href="{{ url_for('.delete_record', id=record._id) }}">删除</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('.add_record') }}">添加</a>
    </div>
</div>



