{% extends "base.html" %}
{% block title %}名侦探柯南 {{ category.upper() }} 放映表{% endblock %}
{% block script %}
    <link href="{{ url_for('static', filename='tablecloth/tablecloth.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ url_for('static', filename='tablecloth/tablecloth.js') }}"></script>
{% endblock %}
{% block body %}
<div id="content">
    <div class="post">
        <h1>名侦探柯南 {{ category.upper() }} 放映表</h1>
        {% if records.count() %}
        <table>
            <thead>
                <th style="width: 35px;">番号</th>
                <th>中文名</th>
                <th>日文名</th>
                <th style="width: 90px;">上映日期</th>
                <th>评分</th>
                {% if g.user.is_authenticated() %}<th></th>{% endif %}
            </thead>
            {% for record in records %}
            <tr>
                <td><a name="{{ record.number }}">{{ record.number }}</a></td>
                <td>{{ record.cn_title }}</td>
                <td>{{ record.jp_title }}</td>
                <td>{% if record.date %}{{ record.date.date() }}{% else %}N/A{% endif %}</td>
                {% if record.rate %}
                <td style="{% if record.rate < 2 %}color: #712704{% elif record.rate < 3 %}color: #bd7803;{% elif record.rate < 4 %}color: #fe9d01;{% elif record.rate < 5 %}color: #ffbb1c;{% else %}color: #eed205;{% endif %}">{{ '★'*record.rate }}</td>
                {% else %}<td>N/A</td>{% endif %}
                {% if g.user.is_authenticated() %}
                <td><span><a href="{{ url_for('.modify_record', category=category, id=record._id) }}">修改</a></span><span><a href="{{ url_for('.delete_record', category=category, id=record._id) }}">删除</a></span></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        
        {% if g.user.is_authenticated() %}
        <input class="btn-submit" type="button" value="添加" onclick="add('{{ category }}')" />
        {% endif %}
    </div>
</div>
{% endblock %}


