{% extends "base.html" %}
{% block title %}同步数据{% endblock %}
{% block body %}
<div id="content">
    <div class="post">
        <form method="post">
            <div class="item">
                <label>操作</label>
                <select class="select-input" style="width: 160px;" name="type">
                    <option value="local_to_bucket" selected >本地 => Bucket</option>
                    <option value="bucket_to_local">Bucket => 本地</option>
                </select>
                <label>&nbsp;</label><input class="btn-submit" type="submit" value="同步" />
            </div>
            {#<input class="btn-submit" type="button" value="返回" onclick="show()" />#}
        </form>
    </div>
</div>
{% endblock %}

