{% extends "base.html" %}
{% block title %}关于我{% endblock %}
{% block body %}
    <div id="content">
        <div class="post">
            <p>我是一只鱼，一只为梦想奋斗中的鳗鱼</p>
            <p>在北方的一个小城市里生活了二十多个春秋</p>
            <p>刚刚完成了本科的学业，即将升级成为一名研究僧</p>
            <p>喜欢动漫，痴迷柯南，喜欢音乐，崇拜静茹，喜欢读书，不求甚解</p>
            <p>闷骚青年，腹黑宅男，屌丝程序员一枚，偶尔小文艺，偶尔俗人一个</p>
            <p>潜心钻研 <em>C++</em>，<em>Python</em>，<em>Flask</em>，<em>MongoDB</em>，<em>Git</em>，<em>BAE</em></p>
            <p>三年前被腾讯拒绝过，两年前被豆瓣无视过，一年前被百度和绿盟坑过</p>
            <p>一次比一次麻木，还好精神没死</p>
            <p>于是完全手写了这个网站，以得到小众的认可</p>
            <p>欢迎找 <em>BUG</em>，欢迎拍砖</p>
            <p>如果有志同道合的朋友，请随时联系我，如果在西安有实习的机会，请随时联系我</p>
            <p></p>
            <p>2013-07, By 鳗鱼</p>
            <p style="text-align: right;">
            <a href='http://me.alipay.com/whypro'><strong>捐助 Donate</strong> &gt;&gt;&gt;</a></p>
        </div>
        <div class="donate" style="text-align: right;">
            
        </div>
    </div>
{% endblock %}
