{% extends "base.html" %}
{% block title %}留言板{% endblock %}
{% block body %}
    <div id="content">
        <div class="post">
            <div class="messages">
                <ul>
                    {% for message in messages %}
                    <li>
                        <div class="m_name">姓名：{{ message.name }}</div>
                        <span class="m_time">留言时间：{{ message.date.strftime('%Y-%m-%d %H:%M:%S') if message.date else '不详' }}</span>
                        {% if g.user.is_authenticated() %}
                        {% if g.user.is_admin() %}
                        &emsp;<span class="m_ip">邮箱：{{ message.email if message.email else '不详'}}</span>
                        &emsp;<span class="m_ip">IP 地址：{{ message.ip if message.ip else '不详' }}</span>
                        {% endif %}
                        {% endif %}
                        <div class="m_content">内容：{{ message.content }}</div>
                        
                        <div class="m_delete">
                        <a href="{{ url_for('reply_message', id=message._id) }}">[回复]</a>
                        {% if g.user.is_authenticated() %}
                        {% if g.user.get_id() == message.uid or g.user.is_admin() %}
                        {% if message.visible != 'public' %}<a href="{{ url_for('unhide_message', id=message._id) }}">[设为可见]</a>{% else %}<a href="{{ url_for('hide_message', id=message._id) }}">[设为隐藏]</a>{% endif %}
                        <a href="{{ url_for('delete_message', id=message._id) }}">[删除]</a>
                        {% endif %}
                        {% endif %}
                        </div>
                        <div class="m_replies">
                        <ul>
                        {% for reply in message.replies%}
                            <li>{{ reply.user.username if reply.user else None }}:&emsp;{{ reply.content }}<div class="r_manage" style="text-align: right;"><a href="{{ url_for('delete_reply', mid=message._id, rid=reply._id) }}">[删除]</a></div></li>
                        {% endfor %}
                        </ul>
                        </div>
                    </li>
                    {% else %} {# else of for #}
                    <li style="text-align: center;"><em>无留言</em></li>
                    {% endfor %}
                </ul>
                <div class="pagination">
                    {% if cur_page > 1 %}
                    <a href="{{ url_for('show_message', page=cur_page-1) }}">上一页</a>
                    {% endif %}
                    {% for i in range(1, total_pages + 1) %}
                        {% if i == cur_page %}
                        <a style="color: red;">{{ i }}</a>
                        {% else %}
                        <a href="{{ url_for('show_message', page=i) }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if cur_page < total_pages %}
                    <a href="{{ url_for('show_message', page=cur_page+1) }}">下一页</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}